extends layout

block content
  h1 #{title}
  form(method='POST',action='/calc')
    .form-group.row
      .col-xs-2
        label Personnes entre 10 et 19 ans
        input.form-control(name='t1', type='text', value='0')
      .col-xs-2
        label Taux de mortalité (%)
        input.form-control(name='p1', type='text', value='0.2')
    .form-group.row
      .col-xs-2
        label Personnes entre 20 et 29 ans
        input.form-control(name='t2', type='text', value='0')
      .col-xs-2
        label Taux de mortalité (%)
        input.form-control(name='p2', type='text', value='0.2')
    .form-group.row
      .col-xs-2
        label Personnes entre 30 et 39 ans
        input.form-control(name='t3', type='text', value='0')
      .col-xs-2
        label Taux de mortalité (%)
        input.form-control(name='p3', type='text', value='0.2')
    .form-group.row
      .col-xs-2
        label Personnes entre 40 et 49 ans
        input.form-control(name='t4', type='text', value='0')
      .col-xs-2
        label Taux de mortalité (%)
        input.form-control(name='p4', type='text', value='0.4')
    .form-group.row
      .col-xs-2
        label Personnes entre 50 et 59 ans
        input.form-control(name='t5', type='text', value='0')
      .col-xs-2
        label Taux de mortalité (%)
        input.form-control(name='p5', type='text', value='1.3')
    .form-group.row
      .col-xs-2
        label Personnes entre 60 et 69 ans
        input.form-control(name='t6', type='text', value='0')
      .col-xs-2
        label Taux de mortalité (%)
        input.form-control(name='p6', type='text', value='3.6')
    .form-group.row
      .col-xs-2
        label Personnes entre 70 et 79 ans
        input.form-control(name='t7', type='text', value='0')
      .col-xs-2
        label Taux de mortalité (%)
        input.form-control(name='p7', type='text', value='8.0')
    .form-group.row
      .col-xs-2
        label Personnes de 80+ ans
        input.form-control(name='t8', type='text', value='0')
      .col-xs-2
        label Taux de mortalité (%)
        input.form-control(name='p8', type='text', value='14.8')
    br
    input.btn.btn-primary(type='submit',value='Calcule')
